{% extends 'base.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
<title>RED|Arrange Meeting</title>
<link href="{% static 'css/arrangemeeting.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container">
        <center>
            <strong><h1 style="font-weight: 900">Step One</h1></strong>
            <h2>Arrange Meeting with Us</h2>
        </center>
        <br>
        <iframe src="https://calendar.google.com/calendar/selfsched?sstoken=UUptZGZWeVNMdnRHfGRlZmF1bHR8ZDhkNjQwZjg2MzZiN2MxYTdkMTc0YjhhNDkxYzAyY2E" style="border: 0" width="90%" height="auto" frameborder="0" scrolling="no"></iframe>
    </div>
{% endblock %}
