{% extends 'base.html' %}

{% block title %}
<title>RED|Home</title>
{% endblock %}
{% block body %}
<main role="main">
  <!--Home view will have different views for unathenticated and authenticated users-->
  {% if user.is_authenticated %}
  <header class="masthead text-center text-white d-flex ">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>ROADMAP ENGAGEMENT DESIGN</strong>
            </h1>
            <hr>
          </div>
      </div>
  </header>
  <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">What are the next Steps</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-send-o"></i>
              <h3 class="mb-3">Explore NYUAD</h3>
              <p class="text-muted mb-0">Explore Various Opportunities Offered by NYUAD</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-wpforms"></i>
              <h3 class="mb-3">Fill out Form</h3>
              <p class="text-muted mb-0">We Will Match Your Interests and Expertise with the opportunities at NYUAD</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-handshake-o"></i>
              <h3 class="mb-3">Meet with Us and Filter</h3>
              <p class="text-muted mb-0">After arranging a meeting we can decide on more detailed </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-group"></i>
              <h3 class="mb-3">Create Collaboratively</h3>
              <p class="text-muted mb-0">Work on the projects in order to </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% else %} 
    <header class="masthead text-center text-white d-flex ">
        <div class="container my-auto">
          <div class="row">
            <div class="col-lg-10 mx-auto">
              <h1 class="text-uppercase">
                <strong>ROADMAP ENGAGEMENT DESIGN</strong>
              </h1>
              <hr>
            </div>
            <div class="col-lg-8 mx-auto">
              <p class="text-faded mb-5">Connect with us in a click</p>
              <a class="btn btn-warning btn-xl js-scroll-trigger " href="{% url 'accounts:register' %}">Register</a>
            </div>
          </div>
        </div>
    </header>
    <section id="services">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading">How Do We Work</h2>
              <hr class="my-4">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <i class="fa fa-address-book-o"></i>
                <h3 class="mb-3">Register</h3>
                <p class="text-muted mb-0">Open an account to access information on NYUAD</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <i class="fa fa-send-o"></i>
                <h3 class="mb-3">Explore NYUAD</h3>
                <p class="text-muted mb-0">Explore Various Opportunities Offered by NYUAD</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <i class="fa fa-wpforms"></i>
                <h3 class="mb-3">Fill out Form</h3>
                <p class="text-muted mb-0">We Will Match Your Interests and Expertise with the opportunities at NYUAD</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <i class="fa fa-handshake-o"></i>
                <h3 class="mb-3">Meet with Us and Filter</h3>
                <p class="text-muted mb-0">After arranging a meeting we can decide on more detailed </p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <i class="fa fa-group"></i>
                <h3 class="mb-3">Create Collaboratively</h3>
                <p class="text-muted mb-0">Work on the projects in order to </p>
              </div>
            </div>
          </div>
        </div>
      </section>
  {% endif %}
</main>
{% endblock %}
</html>