{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}
<title>RED|Home</title>
{% endblock %}
{% block body %}
<<main role="main">
  <!--Home view will have different views for unathenticated and authenticated users-->
  <section id="featured">
    <!-- start slider -->
    <!-- Slider -->
    <div id="nivo-slider">
      <div class="nivo-slider">
        <!-- Slide #1 image -->
        <img src="{% static 'img/slides/nivo/campus.jpg' %}" alt="" title="#caption-1" />
        <!-- Slide #2 image -->
        <img src="{% static 'img/slides/nivo/bg-2.jpg' %}" alt="" title="#caption-2" />
        <!-- Slide #3 image -->
        <img src="{% static 'img/slides/nivo/bg-3.jpg' %}" alt="" title="#caption-3" />
      </div>
      <div class="container">
        <div class="row">
          <div class="span12">
            <!-- Slide #1 caption -->
            <div class="nivo-caption" id="caption-1">
              <div>
                <h2>Learn More About Our Work </h2>
                <p>
                  The Office of Community and Education Engagement connects NYU Abu Dhabi with local and international partners to cultivate mutually beneficial relations.                </p>
                </p>
                <a href="{% url 'accounts:register' %}" class="btn btn-theme">Register</a>
              </div>
            </div>
            <!-- Slide #2 caption -->
            <div class="nivo-caption" id="caption-2">
              <div>
                <h2>Schedule a Meeting</h2>
                <p>
                  Interested in connecting with us and the university? Register below with your contact details and topics of interest so we can schedule a meeting and/or a campus tour.                 </p>
                </p>
                <a href="{% url 'accounts:register' %}" class="btn btn-theme">Register</a>
              </div>
            </div>
            <!-- Slide #3 caption -->
            <div class="nivo-caption" id="caption-3">
              <div>
                <h2>Very <strong>customizable</strong></h2>
                <p>
                  Lorem ipsum dolor sit amet nsectetuer nec Vivamus. Curabitu laoreet amet eget. Viurab oremd ellentesque ameteget. Lorem ipsum dolor sit amet nsectetuer nec vivamus.
                </p>
                <a href="{% url 'accounts:register' %}" class="btn btn-theme">Register</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end slider -->
  </section>
  <section id="content">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="row">
            <div class="span3">
              <div class="box aligncenter">
                <div class="aligncenter">
                  <a href="{% url 'accounts:register' %}"><img width ="60" src="{% static 'img/main_page_icons/step1learnmore.png' %}" alt="" title="#caption-1" />                </div>
                <div class="text">
                  <a href="{% url 'accounts:register' %}"><h6>Register</h6></a>
                </div>
              </div>
            </div>
            <div class="span3">
              <div class="box aligncenter">
                <div class="aligncenter">
                  <img width ="60" src="{% static 'img/main_page_icons/step2register.png' %}" alt="" title="#caption-1" /> 
                </div>
                <div class="text">
                  <h6>Learn about NYUAD</h6>
                  <p>
                    Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
                  </p>
                  <a href="#">Learn more</a>
                </div>
              </div>
            </div>
            <div class="span3">
              <div class="box aligncenter">
                <div class="aligncenter">
                  <img width ="60" src="{% static 'img/main_page_icons/step3interests.png' %}" alt="" title="#caption-1" />                
                </div>
                <div class="text">
                  <h6>Fill out Interest Form</h6>
                  <p>
                    Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
                  </p>
                  <a href="#">Learn more</a>
                </div>
              </div>
            </div>
            <div class="span3">
              <div class="box aligncenter">
                <div class="aligncenter">
                  <img width ="60" src="{% static 'img/main_page_icons/step4meeting.png' %}" alt="" title="#caption-1" />                
                </div>
                <div class="text">
                  <h6>Create Projects Collabboratively</h6>
                  <p>
                    Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
                  </p>
                  <a href="#">Learn more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- divider -->
      <div class="row">
        <div class="span12">
          <div class="solidline">
          </div>
        </div>
      </div>
      <!-- end divider -->
    <div class="row">
        <div class="span12">
          <h4>Very satisfied <strong>clients</strong></h4>
          <ul id="mycarousel" class="jcarousel-skin-tango recent-jcarousel clients">
            <li>
              <a href="https://tcaabudhabi.ae/en/default.aspx">
        <img src="{% static 'img/dummies/clients/DCTlogo.png' %}" class="client-logo" alt="" />
        </a>
            </li>
            <li>
              <a href="#">
        <img src="{% static 'img/dummies/clients/client2.png' %}" class="client-logo" alt="" />
        </a>
            </li>
            <li>
              <a href="#">
        <img src="{% static 'img/dummies/clients/client3.png' %}" class="client-logo" alt="" />
        </a>
            </li>
            <li>
              <a href="#">
        <img src="{% static 'img/dummies/clients/client4.png' %}" class="client-logo" alt="" />
        </a>
            </li>
            <li>
              <a href="#">
        <img src="{% static 'img/dummies/clients/client5.png' %}" class="client-logo" alt="" />
        </a>
            </li>
            <li>
              <a href="#">
        <img src="{% static 'img/dummies/clients/client6.png' %}" class="client-logo" alt="" />
        </a>
            </li>
            <li>
              <a href="#">
        <img src="{% static 'img/dummies/clients/client1.png' %}" class="client-logo" alt="" />
        </a>
            </li>
            <li>
              <a href="#">
        <img src="{% static 'img/dummies/clients/client2.png' %}" class="client-logo" alt="" />
        </a>
            </li>
            <li>
              <a href="#">
        <img src="{% static 'img/dummies/clients/client3.png' %}" class="client-logo" alt="" />
        </a>
            </li>
            <li>
              <a href="#">
        <img src="{% static 'img/dummies/clients/client4.png' %}" class="client-logo" alt="" />
        </a>
            </li>
            <li>
              <a href="#">
        <img src="{% static 'img/dummies/clients/client5.png' %}" class="client-logo" alt="" />
        </a>
            </li>
            <li>
              <a href="#">
        <img src="{% static 'img/dummies/clients/client6.png' %}" class="client-logo" alt="" />
        </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
</html>