{% extends 'base.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>RED|Projects</title>
{% endblock %}

{% block body %}
    <div class = "container">
        {% if messages %}
        <ul class = "messages">
            {% for message in messages %}
            <li {% if message.tags %} class = "{{ message.tags }}"{% endif %}> {{message}} </li>
            {% endfor %}
        </ul>
        {% endif %}

        <h1>{{ instance.name }}</h1>
        <br>
        <h3>Abstract</h3>
        <p>{{ instance.description }}</p>
        <p> {{ instance.slug }} </p>
        <button onclick="location.href='{{ instance.get_absolute_url }}edit'" class="btn ligncenter marginbot20" style="background-color: #CB5542; color: white; margin-top: 20px;">Edit Project</button>
    </div>
{% endblock %}
