{% extends 'base.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% load static %}

{% load widget_tweaks %}
{% load bootstrap4 %}
{% bootstrap_css %}


{% block title %}
  <title>RED | Manage Project</title>
  <link href="{% static 'css/project_post.css' %}" rel="stylesheet"/>

  {% block extra_css%}
    {{ tasks.media.css }}
  {% endblock %}

{% endblock %}

{% block body %}

  <div class = "container">

    <center>
      <strong><h1 style="font-weight: 900">Step Two</h1></strong>
      <h2>Manage Project</h2>
      <br>
    </center>

    <form class="form" method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {{ form.source.errors }}
      {{ form.source }}

      {% for field in form.visible_fields %}
        <div class="form-box">
          {{field.label_tag}}
          <br>
          {{field}}
          <br>
          <br>
          <!-- {% render_field field class="form-control" %} -->
        </div>
      {% endfor %}

      <!-- {{form.as_p}} -->
      <h4>Here are the tasks!</h4>
      {{tasks.as_p}}
      <!-- rendering inline formset (tasks) -->
      <!-- <h1>Projects</h1>
      <form method="post">{% csrf_token %}
          {{ form.as_p }}
          <h2>tasks</h2>
          {{ tasks.as_p }}
          <input type="submit" value="Save">
      </form> -->

      <button type="submit" class="btn ligncenter marginbot20" style="background-color: #CB5542; color: white; margin-top: 20px;">Submit</button>
    </form>




    <form class="form-inline my-2 my-lg-0">
      <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      name="search"
      value="{{request.GET.search}}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <ul class = "list-group">
      {% for user in filter %}
      <li>{{ user.username }} = {{ user.first_name }} </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block extra_js %}
  {% bootstrap_javascript jquery='full' %}
  {{ tasks.media.js }}
{% endblock %}
