{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}
<title>RED|STEP ONE</title>
{% endblock %}
{% block body %}
        <style>
            .subSectionCheckbox {
                display: none;
            }
            .subSectionCheckbox:checked + .subSectionLabel { 
                background-color: #E8E8E8;
            }
            .box{
                padding:60px 0px;
            }

            .box-part{
                background:#FFF;
                border-radius:0;
                padding:60px 10px;
                margin:30px 0px;
            }
            .text{
                margin:20px 0px;
            }
            .items {
                max-width: 1200px;
            }

            .item {
                width: 25%;
                box-sizing: border-box;
                display: inline-block;
                vertical-align: top;
                padding: 0 12px;
                margin: 24px -4px 24px 0;
            }

            @media (max-width: 600px) {
                .item {
                    width: 50%;
                }
            }

            .item__heading {
                background-color: #d4d0f5;
                padding: 10px;
                text-align: center;
                border: 1px solid #bbbbbb;
            }

            .item__content {
                padding: 10px;
                border-left: 1px solid #bbbbbb;
                border-right: 1px solid #bbbbbb;
            }
            .item__price {
                background-color: #e0f6d9;
                padding: 10px;
                text-align: center;
                border: 1px solid #bbbbbb;
            }
        </style>
        <center>
            <h1>Step One</h1>
            <h2>Discover Priorities, Needs, and Expertise</h2>
        </center>
            <form method = "post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.source.errors }}
                {{ form.source }}
                <!--
                <div class = "items">
                    {% for node in form.fields.user_interests.queryset %}
                        <input type="checkbox" class="subSectionCheckbox" name="user_interests" id="user_interest_{{ forloop.counter }}" value="{{ forloop.counter }}">
                        <label for="user_interest_{{ forloop.counter }}" class="subSectionLabel">
                        <div class="item">
                            <div class="item__heading">
                                {{ node.name }}
                            </div>
                            <div class="item__content">
                                {{ node.description }}
                            </div>
                            <div class="item__price">
                                <img src="{{ node.steponeimage.url }}" width = 240>
                            </div>
                        </div>
                    {% endfor %} 
                </div>
                -->
                <div class = "container">
                    <div class = "row">
                        <div class="span12">
                            <div class="row">
                                {% for node in form.fields.user_interests.queryset %}
                                    <div class="span3">
                                        <div class="box aligncenter">
                                            <input type="checkbox" class="subSectionCheckbox" name="user_interests" id="user_interest_{{ forloop.counter }}" value="{{ forloop.counter }}">
                                            <label for="user_interest_{{ forloop.counter }}" class="subSectionLabel">
                                                    <div class="header">
                                                        <h3>{{ node.name }}</h3>
                                                    </div>
                                                    <div class = "aligncenter">
                                                        <img src="{{ node.steponeimage.url }}" width = 240>
                                                    </div>
                                                    <div class="text">
                                                        <p>{{ node.section }}</p>
                                                        <p align="left" style="color:black;" >{{ node.description }}</p>
                                                    </div>
                                            </label>
                                        </div>
                                    </div>
                                    {% if forloop.counter|divisibleby:"4" and not forloop.last %}
                                        </div><div class="row">
                                    {% endif %}
                                {% endfor %} 
                            </div>
                        </div>
                    </div>
                </div>
                <center>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn aligncenter margintop20">Submit</button>
                    </div>
                </div>
                </center>
            </form> 
    <script src="{% static 'js/myscript.js' %}"></script>
{% endblock %}





