{% extends 'base.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    <title>RED|STEP TWO</title>
{% endblock %}
{% block body %}
    <div class = "container">
        <center>
            <h1>Step Two</h1>
            <p>Step two is dedicated for planning your project in a SMART way </p>
            <button type="submit" class="btn ligncenter marginbot20" style="background-color: #CB5542; color: white; margin-top: 20px;">Manage Project</button>
        </center>
    </div>
{% endblock %}