{% extends 'base.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    <title>RED|STEP TWO</title>
{% endblock %}
{% block body %}
    <div class = "container">
        <center>
            <h1> Step Two</h1>
            <h2> My Projects <h2>
            <p>Step two is dedicated for planning your project in a SMART way </p>
            <p> In order to see your projects and/or create new project press Manage projects</p>
            <button onclick="location.href='{% url 'home:project_post' %}'" class="btn ligncenter marginbot20" style="background-color: #CB5542; color: white; margin-top: 20px;">Create Project</button>
        </center>
        {% for obj in object_list %}
            <a href = "{{ obj.get_absolute_url }}">{{ obj.name }}</a>
            <p>{{ obj.description }}</p>
            <p>{{ obj.slug }}
        {% endfor %}
    </div>
{% endblock %}