{% extends 'base.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    <title>RED|STEP TWO</title>
{% endblock %}
{% block body %}
    <div class = "container">
        <div class = "row">
            <div class = "col-8">
                <h2> Manage Your Projects </h2>
            </div>
            <div class = "col-4">
                <button onclick="location.href='{% url 'home:project_post' %}'" class="btn" style="background-color: #CB5542; color: white;">Create Project</button> 
            </div>
        </div>
        {% for obj in object_list %}
            <div class = "row">
                <div class = "col-8">
                    {{forloop.counter}} <a href = "{{ obj.get_absolute_url }}">{{ obj.name }}</a>
                    <p>{{ obj.description }}</p>
                    <p>{{ obj.slug }} </p>
                </div>
                {% if forloop.counter == 1 %}
                    <div class = "col-4">
                        <p>Step two is dedicated for planning your project in a SMART way </p>
                    </div>
                {% endif %}
                {% if forloop.counter == 2 %}
                    <div class = "col-4">
                        <p> In order to see your projects and/or create new project press Manage projects</p>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
     <center>
        
    </center>
{% endblock %}