{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
<title>RED|Edit Profile</title>
{% endblock %}
{% block body %}
<!--User information-->
<div class = "container" style="color:black;">

  <h1> Change your Password </h1>
    <form class = "form" method = "post">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn aligncenter margintop20 marginbot20" style="background-color: #CB5542;">Reset Password</button>   
    </form>
</div>

{% endblock %}