{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
<title>RED|LOGIN</title>
{% endblock %}
{% block body %}
<!-- Sign in Modal -->
<div class="container">
    <h1 class = "aligncenter margintop20">Login to your <strong>account</strong></h4>
  <div class="aligncenter margintop20">
    <form class="form" method = "post">
      {% csrf_token %}
      {{ form| crispy }}
      <button type="submit" class="btn aligncenter margintop20" style="background-color: #CB5542; color: white;">Sign in</button>
      <p class="aligncenter margintop20">
        Forgot password? <a href="{% url 'accounts:password_reset' %}" data-dismiss="modal" aria-hidden="true" data-toggle="modal">Reset</a>
      </p>
    </form>
  </div>
</div>
<!-- end signin modal -->
    <!--
    <div class="row justify-content-center">
      <div class="col-6">
        <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6">
        <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6">
        <label for="inputPassword" class="sr-only col align-self-center">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6">
        <button class="btn btn-lg btn-warning btn-block" type="submit">Sign In</button>
      </div>
    </div>
  
-->
</div>
</form>
{% endblock %}






<!--
<form class="form-signin">
  <div class = "container">
      
    <div class="row justify-content-center">
      <div class="col-6">
        <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6">
        <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6">
        <label for="inputPassword" class="sr-only col align-self-center">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6">
        <button class="btn btn-lg btn-warning btn-block" type="submit">Sign In</button>
      </div>
    </div>
  </div>
</form>
-->
