{% extends 'base.html' %}
{% block title %}
<title>RED|Register</title>
{% endblock %}
{% block body %}
<div class="modal-body aligncenter margintop20">
    <h1> Register </h1>
    <form class="form-horizontal" method = "post">
        <!-- csrf toke is used for the security purpose-->
        {% csrf_token %}
        {{ form.as_p }}
        <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn aligncenter margintop20">Sign in</button>
        </div>
        <p class="aligncenter margintop20">
          Have Account? <a href="{% url 'accounts:login' %}" data-dismiss="modal" aria-hidden="true" data-toggle="modal">Reset</a>
        </p>
      </div>
    </form>
</div>
{% endblock %}