{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
<title>RED|Register</title>
{% endblock %}
{% block body %}
<div class = "container">
  <div class="modal-body aligncenter margintop20">
      <h1> Register </h1>
      <form class="form" method = "post">
          <!-- csrf toke is used for the security purpose-->
          {% csrf_token %}
          {{ form| crispy }}
          <button type="submit" class="btn aligncenter margintop20" style="background-color: #CB5542; color: white;">Register</button>
          <p class="aligncenter margintop20">
            Have Account? <a href="{% url 'accounts:login' %}" data-dismiss="modal" aria-hidden="true" data-toggle="modal">Reset Password</a>
          </p>
      </form>
  </div>
</div>
{% endblock %}