{% extends 'base.html' %}
{% block head %}
<title>RED|RESET</title>
{% endblock %}
{% block body %}
<div class="row justify-content-center">
  <h1>Reset Password</h1>
</div>
<div class="row justify-content-center">
  <p> Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
</div>
<form class="form-signin" method = "post">
  <div class = "container">  
 <div class="row justify-content-center">
  <div class="col-6">
    {% csrf_token %}
    {{ form.as_p }}
  </div>
</div>
  <div class="row justify-content-center">
      <div class="col-6">
        <button class="btn btn-lg btn-warning btn-block" type="submit">Reset Password</button>
      </div>
  </div>
</div>
</form>
{% endblock %}






<!--
<form class="form-signin">
  <div class = "container">
      
    <div class="row justify-content-center">
      <div class="col-6">
        <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6">
        <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6">
        <label for="inputPassword" class="sr-only col align-self-center">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6">
        <button class="btn btn-lg btn-warning btn-block" type="submit">Sign In</button>
      </div>
    </div>
  </div>
</form>
-->
