{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="css/bootstrap.min.css"> for offline work-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel= "stylesheet" href="{% static 'style.css' %}">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  
       <!-- Required meta tags -->
    
    <meta charset="utf-8">
    <meta name="keywords" content="Community, Engagement, University, Student, New York University Abu Dhabi, ">
    <meta name="description" content="Connect the community of New York University Abu Dhabi with External Partners through effective matching of interception points">
    <meta name="author" content="Nurpeiis Baimukan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
    <title>RED|Base</title>
    {% endblock %}
  </head>
  <!--Navigation-->
 
  {% block navigation %}
  {% if user.is_authenticated %}
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{% url 'home:home' %}">
    <img src="{% static 'REDLogo.png' %}" width="40" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <!--Give the user logged in it would have different navigation bar than is he/she is not-->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home:home' %}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home:form' %}">Form</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:view_profile' %}">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:edit_profile' %}">Edit Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:change_password' %}">Change Password</a>
        </li>
      </ul>
      <ul class = "navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:logout' %}">Log out</a>
        </li>
      </ul>
    {% else %}
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{% url 'home:home_notauth' %}">
        <img src="{% static 'REDLogo.png' %}" width="40" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">    
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="{% url 'home:home_notauth' %}">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:password_reset' %}">Reset Password</a>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
        </li>
      </ul>
    {% endif %}
    </div>
  </nav>
  {% endblock %}
  <body>
    {% block body %}
    <h1>Base</h1>  
    {% endblock %}
  </body>
<!-- Footer -->
{% block footer %}
<footer class="page-footer font-small" style="background-color: #CB5542;">
  
  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">
  
    <!-- Grid row -->
    <div class="row mt-3">
    
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
      
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">NYUAD Co-Lab</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
        <a class="btn btn-warning btn-xl js-scroll-trigger " href="#about">Register</a>
        </p>
        <p>
        <a class="fb-ic">
          <a class="fa fa-facebook white-text mr-4" href = "https://www.facebook.com/NYUADEngage/"> </i>
        </a>
        <!-- Google +-->
        <a class="gplus-ic">
          <i class="fa fa-google-plus white-text mr-4"> </i>
        </a>
        <!--Linkedin -->
        <a class="li-ic">
          <a class="fa fa-twitter white-text mr-4" href ="https://twitter.com/nyuadengage"> </i>
        </a>
        <!--Instagram-->
        <a class="ins-ic">
          <a class="fa fa-instagram white-text" href = "https://www.instagram.com/nyuadengage/"> </i>
        </a>
        </p>
      </div>
      <!-- Grid column -->
    
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
      
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fa fa-home mr-3"></i> NYU Abu Dhabi, PO Box 129188, Abu Dhabi, UAE</p>
        <p>
          <i class="fa fa-envelope mr-3"></i> tracy.lavin@nyu.edu</p>
        <p>
          <i class="fa fa-phone mr-3"></i> +971 52 811 8877</p>
        <p>
          <i class="fa fa-print mr-3"></i> +971 2 628 4081</p>
        
      </div>
      <!-- Grid column -->
    
      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
      
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">About Us</a>
        </p>
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">About NYUAD</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>
      
      </div>
      <!-- Grid column -->
    
    
    
    </div>
    <!-- Grid row -->
  
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://nyuad.nyu.edu/en/academics/community-programs.html"> RedCo-Lab.com</a>
  </div>
  <!-- Copyright -->
  
</footer> 
{% endblock %}
</html>
  
  